<div *ngIf="exerciseDetail">
  <div class="entity-header border-bottom border-4 mx-5 pb-3">
    <div class="circle">
      <img
        src="assets/icons/pencil-fill.svg"
        width="40"
        height="40"
        alt="Class icon"
      />
    </div>
    <h4>{{ exerciseDetail.title }}</h4>
    <p>Inglés</p>
    <button (click)="deleteTeacher()" mat-raised-button color="warn">
      Eliminar
    </button>
  </div>
  <div class="entity-body mt-3 d-flex flex-column align-items-center mx-5">
    <p class="w-75 text-center">
      {{ exerciseDetail.description }}
    </p>
    <app-select-word
      id="SelectWord"
      class="text-left"
      *ngIf="exerciseDetail && exerciseDetail.type_id == 1"
      [previewObj]="exerciseDetail.content"
    >
    </app-select-word>
    <app-translate-word
      id="TranslateWord"
      *ngIf="exerciseDetail && exerciseDetail.type_id == 2"
      [previewExercise]="exerciseService.stringToJson(exerciseDetail.content)"
    ></app-translate-word>
  </div>
</div>
