<ul class="w-100 d-flex justify-content-between align-items-center h-100">
  <li class="d-flex">
    <div class="icon-circle">
      <img
        class="h-100 w-100"
        src="assets/icons/person-fill.svg"
        alt="Icono de un usuario"
      />
    </div>
    <div class="py-1">
      <h4>{{ user.name }}</h4>
    </div>
  </li>

  <li class="d-flex">
    <div class="icon-circle">
      <img
        class="h-100 w-100"
        src="assets/icons/building.svg"
        alt="Icono de un usuario"
      />
    </div>
    <div class="py-1">
      <h4>Academia León</h4>
    </div>
  </li>

  <li class="d-flex">
    <div class="icon-circle">
      <img
        class="h-100 w-100"
        src="assets/icons/file-earmark-medical.svg"
        alt="Icono de un usuario"
      />
    </div>
    <div class="py-1">
      <h4>Ejercicios Pendientes</h4>
    </div>
  </li>
</ul>
