.contact-form {
  max-width: 800px;
  padding: 40px 20px;
  margin: 0 auto;
}

.form-title {
  font-size: 2.8rem;
  text-align: center;
}

.form-subtitle {
  padding-bottom: 15px;
  margin-bottom: 30px;
  font-size: 1.6rem;
  text-align: center;
  border-bottom: 1px solid;
}

.form-text {
  color: $songs-color-dark;
}