<ul class="d-flex flex-column align-items-center exerciseType">
  <li
    *ngFor="let exerciseType of exerciseTypeList"
    (click)="setExerciseTypeDetail(exerciseType)"
    class="d-flex mb-4 w-100 cursor-pointer"
    [class]="{
      active: exerciseTypeDetail && exerciseTypeDetail.id == exerciseType.id
    }"
  >
    <div
      class="
        border
        rounded-circle
        d-flex
        justify-content-center
        align-items-center
        p-2
        mr-2
      "
    >
      <img
        src="assets/icons/pencil-square.svg"
        width="40"
        height="40"
        alt="ExerciseType icon"
      />
    </div>
    <div class="d-flex flex-column justify-content-center">
      <h6 class="mb-1 font-weight-bold">
        {{ exerciseType.title }}
        <span class="text-muted font-weight-normal"
          >(#{{ exerciseType.id }})</span
        >
      </h6>
      <span>{{ exerciseType.email }}</span>
    </div>
  </li>
</ul>
