<div *ngIf="assignatureDetail">
  <div class="entity-header border-bottom border-4 ml-5 mr-5 pb-3">
    <div class="circle">
      <img
        src="assets/icons/book.svg"
        width="40"
        height="40"
        alt="Class icon"
      />
    </div>
    <h4 class="mb-3">{{ assignatureDetail.name }}</h4>
    <button (click)="deleteAssignature()" mat-raised-button color="warn">
      Eliminar
    </button>
  </div>
  <div class="entity-body mt-3 d-flex flex-column align-items-center">
    <div class="entity-body mt-3 d-flex flex-column align-items-center">
      <span class="text-underline"><strong>Alumnos</strong></span>
      <ul *ngIf="assignatureDetail.students.length" class="lessons-list pl-4">
        <li *ngFor="let student of assignatureDetail.students">
          {{ student.name }}
        </li>
      </ul>
      <span *ngIf="!assignatureDetail.students.length" class="text-muted">
        Sin Alumnos
      </span>
    </div>
    <div class="entity-body mt-3 d-flex flex-column align-items-center">
      <span class="text-underline"><strong>Profesores</strong></span>
      <ul *ngIf="assignatureDetail.teachers.length" class="lessons-list pl-4">
        <li *ngFor="let teacher of assignatureDetail.teachers">
          {{ teacher.name }}
        </li>
      </ul>
      <span *ngIf="!assignatureDetail.teachers.length" class="text-muted">
        Sin Profesores
      </span>
    </div>
  </div>
</div>
